@model Backend6.Models.ViewModels.ForumMessageEditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ForumMessage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-messageId="@ViewBag.MessageId" asp-route-topicId="@ViewBag.Topic.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="ForumTopics" asp-action="Details" asp-route-id="@ViewBag.Topic.Id" asp-route-ForumId="@ViewBag.Topic.ForumId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
